<nav class="navbar navbar-expand-lg fixed-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand me-auto" >Examen</a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Examen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item nav-link" *ngFor="let item of Menu" [routerLink]="[item.ruta]"
                        routerLinkActive="active">
                        <div *ngIf="authservice.islogged()">{{item.texto}}</div>
                    </li>
                </ul>
                <button *ngIf="authservice.islogged()" class="btn btn-danger logout" (click)="logout()">cerrar sesion</button>
            </div>
        </div>

        <button *ngIf="authservice.islogged()" class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>